
body {
    font: 20px "Gotu", sans-serif;
   }

.bg1 {
    padding-top: 100px;
    padding-bottom: 100px;
    background-image: url('../img/aerial-view-of-resort-1488515.jpg');
    opacity: 0.8;
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
    color: #ffffff;
    text-shadow: 2px 2px #000000;

  }

  .bg2 {
    background-color: #ffffff;
  }

  .bg3 {
    padding-top: 50px;
    padding-bottom: 50px;
    background-image: url('../img/background2.jpg');
    opacity: 0.8;
    background-repeat: no-repeat;
    background-position: top;
    background-size: auto;
    color: #ffffff;
    text-shadow: 2px 2px #000000;
  }

  .bg4 {
    padding-top: 50px;
    padding-bottom: 50px;
    background-image: url('../img/background3.jpg');
    opacity: 0.8;
    background-repeat: no-repeat;
    background-position: top;
    background-size: auto;
    color: #ffffff;
    text-shadow: 2px 2px #000000;
  }

  .bg5 {
      padding-top: 50px;
      padding-bottom: 50px;
      background-image: url('../img/background-reservation.jpg');
      opacity: 0.8;
      background-repeat: no-repeat;
      background-position: center;
      background-size: auto;
      color: #ffffff;
      text-shadow: 2px 2px #000000;
  }

  .bg6 {
      padding-top: 50px;
      padding-bottom: 50px;
      background-image: url('../img/admin.jpg');
      opacity: 0.8;
      background-repeat: no-repeat;
      background-position: center;
      background-size: auto;
      color: #ffffff;
      text-shadow: 2px 2px #000000;
  }

  .jumbotron h1 {
    font-size: 150px;
  }

  .table-image td, th {
    vertical-align: middle;
  }

  .table-image th {
    cursor: pointer;
  }

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
